*{
    margin: 0;
	padding: 0;
	border: 0;
}

.bg-img{
    background-image: url('../PadHubHome.jpg');
    background-size: cover;
    width: 100%;
    height: 1000px;
    position: absolute;
    border-style:none;
}

.header{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    width: 100%;
    height: 90%;
}

.boxStuff{
    width: 80%;
    background-color: black;
    opacity: .8;
    height: 200px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.title{
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans"; 
    font-size: 52px;
    text-align: center;
}

.info{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.video{
    margin-top: 60px;
}

.ClickHere{
    width: 80%;
    background-color: black;
    opacity: .8;
    height: auto;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}

.clickable{
    font-family: "Open Sans";
    color: #1e6bb8;
    align-self: center;
}

.clickableInfo{
    align-self: center;
    width: 35%;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    margin-top: 2px;
}

.clickable:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.signUp{
    width: 100%;
    height: 700px;
    background-color: #5ec0a2;
    margin: 0;
    display: flex;
    justify-content: center;
}

.titleInput{
    color: white;
    font-family: "Open Sans";
    align-self: center;
    font-size: 1.5em;
}

.inputBox{
    margin-top: 30px;
    width: 40%;
    height: 200px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 30px;
    width: 70%;
    margin-left: 20px;
    background-color: white;
    height: 30px;
}

.input:focus{
    border: 1px solid #555;
}